{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-import-css",
    "transform-object-rest-spread"
  ]
}
